<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pythagorean Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
    <div id="block" class="container">
        <div id="app">
            <h1 id="app-title">Pythagorean Calculator</h1><br>
            <form id="calculator-form">
                <small id="ajuda-calculo" class="form-text text-muted">Selecione o tipo de cálculo</small>
                <div class="form-check form-check-inline">
                    <input v-model="picked" class="form-check-input" type="radio" name="type" id="hipotenusa"
                        value="Hipotenusa" v-on:change="calculationType">
                    <label class="form-check-label" for="hipotenusa">Hipotenusa</label>
                </div>
                <div class="form-check form-check-inline">
                    <input v-model="picked" class="form-check-input" type="radio" name="type" id="cateto" value="Cateto"
                        v-on:change="calculationType">
                    <label class="form-check-label" for="cateto">Cateto</label>
                </div>
                <br><br>
                <div class="row">
                    <div class="form-group col-sm">
                        <label for="campo1">{{ formFields.labels[0] }}</label>
                        <input v-model="field1" v-on:change="calculate" type="number" class="form-control" id="campo1"
                            placeholder="Ex.: 3">
                        <small id="ajuda-campo1" class="form-text text-muted">{{formFields.descriptions[0]}}</small>
                    </div>
                    <div class="form-group  col-sm">
                        <label for="campo2">{{ formFields.labels[1] }}</label>
                        <input v-model="field2" v-on:change="calculate" type="number" class="form-control" id="campo2"
                            placeholder="Ex.: 4">
                        <small id="ajuda-campo2" class="form-text text-muted">{{formFields.descriptions[1]}}</small>
                    </div>
                </div>
                <div id="result-box" class="container">Resultado: <span id="result">{{result}}</span></div>
                <button v-on:click="clearFields" id="clear" class="btn btn-danger .bg-danger col-sm" type="button">🗑 Limpar</button>
                <!-- <button type="button" class="btn btn-primary">Calcular</button> -->
            </form>
        </div>
    </div>
    <!-- Vue JS framework and file import --->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script text="text/javascript" src="resources/js/pythagorean-calculator.js"></script>
</body>

</html>