<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pythagorean Calculator</title>
    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Import Boostrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <!-- Import Favicon Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/resources/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/resources/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/resources/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/resources/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/resources/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/resources/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/resources/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/resources/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/resources/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/resources/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/resources/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/resources/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
    <div id="block" class="container">
        <div id="app">
            <h1 id="app-title"><i
                class="bi-calculator-fill"></i> Calculadora de <span>Pyth</span>agoras <i
                class="bi-triangle-half"></i></h1><br>
            <form id="calculator-form">
                <small id="ajuda-calculo" class="form-text text-muted">Selecione o tipo de cálculo:</small>
                <div class="form-check form-check-inline">
                    <input v-model="picked" class="form-check-input" type="radio" name="type" id="hipotenusa"
                        value="Hipotenusa" v-on:change="setLabels">
                    <label class="form-check-label" for="hipotenusa">Hipotenusa</label>
                </div>
                <div class="form-check form-check-inline">
                    <input v-model="picked" class="form-check-input" type="radio" name="type" id="cateto" value="Cateto"
                        v-on:change="setLabels">
                    <label class="form-check-label" for="cateto">Cateto</label>
                </div>
                <br><br>
                <div class="row">
                    <div class="form-group col-sm">
                        <label for="campo1">{{ formFields.labels[0] }}</label>
                        <input v-model="field1" v-on:change="calculate" type="number" class="form-control" id="campo1"
                            placeholder="Ex.: 3">
                        <small id="ajuda-campo1" class="form-text text-muted">{{formFields.descriptions[0]}}</small>
                    </div>
                    <div class="form-group  col-sm">
                        <label for="campo2">{{ formFields.labels[1] }}</label>
                        <input v-model="field2" v-on:change="calculate" type="number" class="form-control" id="campo2"
                            placeholder="Ex.: 4">
                        <small id="ajuda-campo2" class="form-text text-muted">{{formFields.descriptions[1]}}</small>
                    </div>
                </div>
                <div id="result-box" class="container py-2"><i class="bi-dice-5-fill"></i> Resultado: <span
                        id="result">{{result}}</span></div>
                <div class="row mx-auto d-flex justify-content-between">
                    <button v-on:click="copyResultToClipboard" id="copy" class="btn btn-primary col-sm" type="button"><i
                            class="bi-file-earmark-fill"></i> Copiar</button>
                    <button v-on:click="clearFields" id="clear" class="btn btn-danger col-sm" type="button"><i
                            class="bi-trash-fill"></i> Limpar</button>
                </div>
                <div id="footer" class="mx-auto my-4 text-center">
                    <h5 id="devby"> <i class="bi-terminal-fill"></i> Desenvolvido por: <a id="linkedin"
                            href="https://linkedin.com/in/gabrielpetillo" target="_blank">Gabriel Petillo</a></h5>
                </div>
            </form>
        </div>
    </div>
    <!-- Import VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Import SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script text="text/javascript" src="resources/js/pythagorean-calculator.js"></script>
</body>

</html>