body {
    margin: 10% 5%;
}

#app-title {
    text-align: center;
}

h1 span {
    color: #3367b9;
}

h5 a {
    color: #3367b9;
}

#block {
    max-width: 90vh;
}

#result-box {
    padding: 5px 2px;
    color: #2a8b2a;
    background-color: #cff8d3;
    border: 1px solid #2a8b2a;
    text-align: center;
    flex: auto;
}

#result-box {
    min-width: 100%;
}

#result {
    font-weight: bold;
}

.row button {
    max-width: 49% !important;
}

#clear, #copy {
    margin: 10px 0;
}

#footer {
    padding: 20px 0;
}

#footer h5 {
    font-size: 1em;
    color: grey;
}