body{
    margin: 5%;
}

h1 span{
    color: #3367b9;
}

#block{
    max-width: 650px;
}

#result-box{
    padding: 5px 2px;
    color: #2a8b2a;
    background-color: #cff8d3;
    border: 1px solid #2a8b2a;
    text-align: center;
    flex: auto;
}

#result{
    font-weight: bold;
}

#clear{
    margin: 10px 0;
}